@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.icon-sprite, .icon-12, .icon-awecent, .icon-uzone, .icon-wolf {
  background-image: url('../images/icon-saf74c24927.png');
  background-repeat: no-repeat; }

.icon-12 {
  background-position: 0 0;
  height: 42px;
  width: 42px; }

.icon-awecent {
  background-position: 0 -47px;
  height: 36px;
  width: 57px; }

.icon-uzone {
  background-position: 0 -88px;
  height: 14px;
  width: 55px; }

.icon-wolf {
  background-position: 0 -107px;
  height: 44px;
  width: 29px; }

.icon2x-sprite, .icon2x-12, .icon2x-awecent, .icon2x-uzone, .icon2x-wolf {
  background-image: url('../images/icon2x-sdcd3e13828.png');
  background-repeat: no-repeat; }

.icon2x-12 {
  background-position: 0 0;
  height: 84px;
  width: 84px; }

.icon2x-awecent {
  background-position: 0 -89px;
  height: 72px;
  width: 116px; }

.icon2x-uzone {
  background-position: 0 -166px;
  height: 28px;
  width: 110px; }

.icon2x-wolf {
  background-position: 0 -199px;
  height: 88px;
  width: 58px; }

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-all-retina-sprites, .icon-12, .icon-awecent, .icon-uzone, .icon-wolf {
    background-image: url('../images/icon2x-sdcd3e13828.png');
    background-size: 58px auto; }

  .icon-12 {
    background-position: 0 0; }

  .icon-awecent {
    background-position: 0 -44.5px; }

  .icon-uzone {
    background-position: 0 -83px; }

  .icon-wolf {
    background-position: 0 -99.5px; } }
.head-sprite, .head-head1, .p1, .head-head10, .p10, .head-head11, .p11, .head-head12, .p12, .head-head13, .p13, .head-head14, .p14, .head-head15, .p15, .head-head16, .p16, .head-head17, .p17, .head-head18, .p18, .head-head19, .p19, .head-head2, .p2, .head-head3, .p3, .head-head4, .p4, .head-head5, .p5, .head-head6, .p6, .head-head7, .p7, .head-head8, .p8, .head-head9, .p9 {
  background-image: url('../images/character/head-sfec58a4bfc.png');
  background-repeat: no-repeat; }

.head-head1, .p1 {
  background-position: 0 0;
  height: 50px;
  width: 50px; }
  .head-head1:hover, .p1:hover, .p1.current, .head-head1.head1-hover, .head1-hover.p1 {
    background-position: 0 -1050px; }

.head-head10, .p10 {
  background-position: 0 -50px;
  height: 50px;
  width: 50px; }
  .head-head10:hover, .p10:hover, .p10.current, .head-head10.head10-hover, .head10-hover.p10 {
    background-position: 0 -100px; }

.head-head11, .p11 {
  background-position: 0 -150px;
  height: 50px;
  width: 50px; }
  .head-head11:hover, .p11:hover, .p11.current, .head-head11.head11-hover, .head11-hover.p11 {
    background-position: 0 -200px; }

.head-head12, .p12 {
  background-position: 0 -250px;
  height: 50px;
  width: 50px; }
  .head-head12:hover, .p12:hover, .p12.current, .head-head12.head12-hover, .head12-hover.p12 {
    background-position: 0 -300px; }

.head-head13, .p13 {
  background-position: 0 -350px;
  height: 50px;
  width: 50px; }
  .head-head13:hover, .p13:hover, .p13.current, .head-head13.head13-hover, .head13-hover.p13 {
    background-position: 0 -400px; }

.head-head14, .p14 {
  background-position: 0 -450px;
  height: 50px;
  width: 50px; }
  .head-head14:hover, .p14:hover, .p14.current, .head-head14.head14-hover, .head14-hover.p14 {
    background-position: 0 -500px; }

.head-head15, .p15 {
  background-position: 0 -550px;
  height: 50px;
  width: 50px; }
  .head-head15:hover, .p15:hover, .p15.current, .head-head15.head15-hover, .head15-hover.p15 {
    background-position: 0 -600px; }

.head-head16, .p16 {
  background-position: 0 -650px;
  height: 50px;
  width: 50px; }
  .head-head16:hover, .p16:hover, .p16.current, .head-head16.head16-hover, .head16-hover.p16 {
    background-position: 0 -700px; }

.head-head17, .p17 {
  background-position: 0 -750px;
  height: 50px;
  width: 50px; }
  .head-head17:hover, .p17:hover, .p17.current, .head-head17.head17-hover, .head17-hover.p17 {
    background-position: 0 -800px; }

.head-head18, .p18 {
  background-position: 0 -850px;
  height: 50px;
  width: 50px; }
  .head-head18:hover, .p18:hover, .p18.current, .head-head18.head18-hover, .head18-hover.p18 {
    background-position: 0 -900px; }

.head-head19, .p19 {
  background-position: 0 -950px;
  height: 50px;
  width: 50px; }
  .head-head19:hover, .p19:hover, .p19.current, .head-head19.head19-hover, .head19-hover.p19 {
    background-position: 0 -1000px; }

.head-head2, .p2 {
  background-position: 0 -1100px;
  height: 50px;
  width: 50px; }
  .head-head2:hover, .p2:hover, .p2.current, .head-head2.head2-hover, .head2-hover.p2 {
    background-position: 0 -1150px; }

.head-head3, .p3 {
  background-position: 0 -1200px;
  height: 50px;
  width: 50px; }
  .head-head3:hover, .p3:hover, .p3.current, .head-head3.head3-hover, .head3-hover.p3 {
    background-position: 0 -1250px; }

.head-head4, .p4 {
  background-position: 0 -1300px;
  height: 50px;
  width: 50px; }
  .head-head4:hover, .p4:hover, .p4.current, .head-head4.head4-hover, .head4-hover.p4 {
    background-position: 0 -1350px; }

.head-head5, .p5 {
  background-position: 0 -1400px;
  height: 50px;
  width: 50px; }
  .head-head5:hover, .p5:hover, .p5.current, .head-head5.head5-hover, .head5-hover.p5 {
    background-position: 0 -1450px; }

.head-head6, .p6 {
  background-position: 0 -1500px;
  height: 50px;
  width: 50px; }
  .head-head6:hover, .p6:hover, .p6.current, .head-head6.head6-hover, .head6-hover.p6 {
    background-position: 0 -1550px; }

.head-head7, .p7 {
  background-position: 0 -1600px;
  height: 50px;
  width: 50px; }
  .head-head7:hover, .p7:hover, .p7.current, .head-head7.head7-hover, .head7-hover.p7 {
    background-position: 0 -1650px; }

.head-head8, .p8 {
  background-position: 0 -1700px;
  height: 50px;
  width: 50px; }
  .head-head8:hover, .p8:hover, .p8.current, .head-head8.head8-hover, .head8-hover.p8 {
    background-position: 0 -1750px; }

.head-head9, .p9 {
  background-position: 0 -1800px;
  height: 50px;
  width: 50px; }
  .head-head9:hover, .p9:hover, .p9.current, .head-head9.head9-hover, .head9-hover.p9 {
    background-position: 0 -1850px; }

.head2x-sprite, .head2x-head1, .head2x-head10, .head2x-head11, .head2x-head12, .head2x-head13, .head2x-head14, .head2x-head15, .head2x-head16, .head2x-head17, .head2x-head18, .head2x-head19, .head2x-head2, .head2x-head3, .head2x-head4, .head2x-head5, .head2x-head6, .head2x-head7, .head2x-head8, .head2x-head9 {
  background-image: url('../images/character/head2x-s8dfdc1f77e.png');
  background-repeat: no-repeat; }

.head2x-head1 {
  background-position: 0 0;
  height: 100px;
  width: 100px; }
  .head2x-head1:hover, .head2x-head1.head1-hover {
    background-position: 0 -2100px; }

.head2x-head10 {
  background-position: 0 -100px;
  height: 100px;
  width: 100px; }
  .head2x-head10:hover, .head2x-head10.head10-hover {
    background-position: 0 -200px; }

.head2x-head11 {
  background-position: 0 -300px;
  height: 100px;
  width: 100px; }
  .head2x-head11:hover, .head2x-head11.head11-hover {
    background-position: 0 -400px; }

.head2x-head12 {
  background-position: 0 -500px;
  height: 100px;
  width: 100px; }
  .head2x-head12:hover, .head2x-head12.head12-hover {
    background-position: 0 -600px; }

.head2x-head13 {
  background-position: 0 -700px;
  height: 100px;
  width: 100px; }
  .head2x-head13:hover, .head2x-head13.head13-hover {
    background-position: 0 -800px; }

.head2x-head14 {
  background-position: 0 -900px;
  height: 100px;
  width: 100px; }
  .head2x-head14:hover, .head2x-head14.head14-hover {
    background-position: 0 -1000px; }

.head2x-head15 {
  background-position: 0 -1100px;
  height: 100px;
  width: 100px; }
  .head2x-head15:hover, .head2x-head15.head15-hover {
    background-position: 0 -1200px; }

.head2x-head16 {
  background-position: 0 -1300px;
  height: 100px;
  width: 100px; }
  .head2x-head16:hover, .head2x-head16.head16-hover {
    background-position: 0 -1400px; }

.head2x-head17 {
  background-position: 0 -1500px;
  height: 100px;
  width: 100px; }
  .head2x-head17:hover, .head2x-head17.head17-hover {
    background-position: 0 -1600px; }

.head2x-head18 {
  background-position: 0 -1700px;
  height: 100px;
  width: 100px; }
  .head2x-head18:hover, .head2x-head18.head18-hover {
    background-position: 0 -1800px; }

.head2x-head19 {
  background-position: 0 -1900px;
  height: 100px;
  width: 100px; }
  .head2x-head19:hover, .head2x-head19.head19-hover {
    background-position: 0 -2000px; }

.head2x-head2 {
  background-position: 0 -2200px;
  height: 100px;
  width: 100px; }
  .head2x-head2:hover, .head2x-head2.head2-hover {
    background-position: 0 -2300px; }

.head2x-head3 {
  background-position: 0 -2400px;
  height: 100px;
  width: 100px; }
  .head2x-head3:hover, .head2x-head3.head3-hover {
    background-position: 0 -2500px; }

.head2x-head4 {
  background-position: 0 -2600px;
  height: 100px;
  width: 100px; }
  .head2x-head4:hover, .head2x-head4.head4-hover {
    background-position: 0 -2700px; }

.head2x-head5 {
  background-position: 0 -2800px;
  height: 100px;
  width: 100px; }
  .head2x-head5:hover, .head2x-head5.head5-hover {
    background-position: 0 -2900px; }

.head2x-head6 {
  background-position: 0 -3000px;
  height: 100px;
  width: 100px; }
  .head2x-head6:hover, .head2x-head6.head6-hover {
    background-position: 0 -3100px; }

.head2x-head7 {
  background-position: 0 -3200px;
  height: 100px;
  width: 100px; }
  .head2x-head7:hover, .head2x-head7.head7-hover {
    background-position: 0 -3300px; }

.head2x-head8 {
  background-position: 0 -3400px;
  height: 100px;
  width: 100px; }
  .head2x-head8:hover, .head2x-head8.head8-hover {
    background-position: 0 -3500px; }

.head2x-head9 {
  background-position: 0 -3600px;
  height: 100px;
  width: 100px; }
  .head2x-head9:hover, .head2x-head9.head9-hover {
    background-position: 0 -3700px; }

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .head-all-retina-sprites, .head-head1, .p1, .head-head10, .p10, .head-head10_hover, .head-head11, .p11, .head-head11_hover, .head-head12, .p12, .head-head12_hover, .head-head13, .p13, .head-head13_hover, .head-head14, .p14, .head-head14_hover, .head-head15, .p15, .head-head15_hover, .head-head16, .p16, .head-head16_hover, .head-head17, .p17, .head-head17_hover, .head-head18, .p18, .head-head18_hover, .head-head19, .p19, .head-head19_hover, .head-head1_hover, .head-head2, .p2, .head-head2_hover, .head-head3, .p3, .head-head3_hover, .head-head4, .p4, .head-head4_hover, .head-head5, .p5, .head-head5_hover, .head-head6, .p6, .head-head6_hover, .head-head7, .p7, .head-head7_hover, .head-head8, .p8, .head-head8_hover, .head-head9, .p9, .head-head9_hover {
    background-image: url('../images/character/head2x-s8dfdc1f77e.png');
    background-size: 50px auto; }

  .head-head1, .p1 {
    background-position: 0 0; }

  .head-head10, .p10 {
    background-position: 0 -50px; }

  .head-head10_hover {
    background-position: 0 -100px; }

  .head-head11, .p11 {
    background-position: 0 -150px; }

  .head-head11_hover {
    background-position: 0 -200px; }

  .head-head12, .p12 {
    background-position: 0 -250px; }

  .head-head12_hover {
    background-position: 0 -300px; }

  .head-head13, .p13 {
    background-position: 0 -350px; }

  .head-head13_hover {
    background-position: 0 -400px; }

  .head-head14, .p14 {
    background-position: 0 -450px; }

  .head-head14_hover {
    background-position: 0 -500px; }

  .head-head15, .p15 {
    background-position: 0 -550px; }

  .head-head15_hover {
    background-position: 0 -600px; }

  .head-head16, .p16 {
    background-position: 0 -650px; }

  .head-head16_hover {
    background-position: 0 -700px; }

  .head-head17, .p17 {
    background-position: 0 -750px; }

  .head-head17_hover {
    background-position: 0 -800px; }

  .head-head18, .p18 {
    background-position: 0 -850px; }

  .head-head18_hover {
    background-position: 0 -900px; }

  .head-head19, .p19 {
    background-position: 0 -950px; }

  .head-head19_hover {
    background-position: 0 -1000px; }

  .head-head1_hover {
    background-position: 0 -1050px; }

  .head-head2, .p2 {
    background-position: 0 -1100px; }

  .head-head2_hover {
    background-position: 0 -1150px; }

  .head-head3, .p3 {
    background-position: 0 -1200px; }

  .head-head3_hover {
    background-position: 0 -1250px; }

  .head-head4, .p4 {
    background-position: 0 -1300px; }

  .head-head4_hover {
    background-position: 0 -1350px; }

  .head-head5, .p5 {
    background-position: 0 -1400px; }

  .head-head5_hover {
    background-position: 0 -1450px; }

  .head-head6, .p6 {
    background-position: 0 -1500px; }

  .head-head6_hover {
    background-position: 0 -1550px; }

  .head-head7, .p7 {
    background-position: 0 -1600px; }

  .head-head7_hover {
    background-position: 0 -1650px; }

  .head-head8, .p8 {
    background-position: 0 -1700px; }

  .head-head8_hover {
    background-position: 0 -1750px; }

  .head-head9, .p9 {
    background-position: 0 -1800px; }

  .head-head9_hover {
    background-position: 0 -1850px; } }
/*------------------------------------*\
基本設定
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
  font-size: 1em;
  line-height: 1.9em;
  color: #ffffff;
  background-color: #000; }

a {
  outline: none;
  behavior: expression(this.onFocus=this.blur());
  text-decoration: none;
  color: #333; }

input {
  outline: none;
  border: none; }

img {
  display: block; }

/*------------------------------------*\
全部頁面共用layout
\*------------------------------------*/
.wrap {
  background: #000 url(../images/bg0.jpg) center top no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover; }
  .wrap.b1 {
    background-image: url(../images/bg1.jpg); }
  .wrap.b2 {
    background-image: url(../images/bg2.jpg); }
  .wrap.b3 {
    background-image: url(../images/bg3.jpg); }
  .wrap.b4 {
    background-image: url(../images/bg4.jpg); }

/**
*header區塊內容
**/
header {
  width: 100%;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 99; }

.nav {
  margin: 0 auto;
  max-width: 1280px;
  position: relative; }

.navicon {
  cursor: pointer;
  float: right;
  padding: 12px 10px; }
  .navicon img {
    height: 20px;
    width: 20px; }
  @media only screen and (min-width: 768px) {
    .navicon {
      display: none; } }

.logo {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .logo {
      text-align: left; } }

.icon-logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-image: url(../images/logo2x.png);
  margin: 4px 0 4px 30px;
  height: 40px;
  width: 130px; }
  @media only screen and (min-width: 768px) {
    .icon-logo {
      background: url("../images/logo.png");
      width: 161px;
      height: 49px;
      margin-left: 10px;
      margin-top: 8px;
      margin-bottom: 8px; } }

.topnav {
  display: none; }
  .topnav.show {
    display: block; }
  .topnav li {
    border-top: 1px solid #ffffff;
    line-height: 3em;
    text-align: center;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s; }
    .topnav li:hover {
      background-color: #ffffff; }
  .topnav a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  .topnav img {
    height: 30px;
    width: 30px; }
  @media only screen and (min-width: 768px) {
    .topnav {
      display: block;
      position: absolute;
      right: 10px;
      top: 8px; }
      .topnav li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        border: none;
        width: 120px; }
        .topnav li:hover, .topnav li.on {
          letter-spacing: 5px;
          background-color: transparent;
          text-shadow: 0 0 5px #fff,0 0 15px #fff,0 0 15px #fff; }
        .topnav li:last-child {
          width: auto; }
      .topnav img {
        height: 25px;
        width: 25px; } }

/**
*contents區塊內容
*各單元內容顯示區
**/
.content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  *zoom: 1; }
  .content.page {
    height: auto;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;
    padding: 80px 10px 50px 10px; }
    @media only screen and (min-width: 768px) {
      .content.page {
        padding-top: 150px; } }

/**
*footer區塊內容
**/
footer {
  background-color: #172562;
  color: #999999;
  font-size: .5em;
  line-height: 1.5em;
  padding: 10px; }

.copyrigth {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

.text-c {
  display: none;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .text-c {
      display: block; } }

.company {
  text-align: left;
  overflow: hidden; }
  .company li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 15px; }

.grade {
  line-height: 1.3em;
  position: absolute;
  top: 2px;
  right: 0px; }
  .grade ul {
    display: none; }
  @media only screen and (min-width: 768px) {
    .grade {
      top: 10px; }
      .grade ul {
        display: block;
        float: left; }
      .grade .icon-12 {
        float: right;
        margin-left: 10px; } }

/*------------------------------------*\
首頁
\*------------------------------------*/
/*遊戲下載按扭*/
.download {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-bottom: 15px; }
  .download li {
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 30.33333%;
    background-color: #000;
    text-align: center; }
  .download a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  .download img {
    width: 100%; }
  @media only screen and (min-width: 480px) {
    .download {
      margin-bottom: 0;
      text-align: left;
      background: url("../images/iconbg.png");
      width: 456px;
      height: 77px; }
      .download li {
        width: 120px;
        margin-top: 18px;
        margin-left: 8px; } }

.ad {
  background-color: #ffffff;
  padding: 10px; }
  .ad img {
    height: auto;
    max-width: 100%; }
  @media only screen and (min-width: 480px) {
    .ad {
      bottom: 0;
      right: 0;
      position: fixed;
      padding: 5px;
      max-width: 250px;
      z-index: 100; } }
  @media only screen and (min-width: 768px) {
    .ad {
      max-width: 300px; } }

.ad-close {
  background-color: #ffffff;
  left: -15px;
  top: 0;
  height: 20px;
  line-height: 20px;
  position: absolute;
  padding-left: 5px;
  width: 20px; }
  .ad-close:before {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    content: 'X'; }

/*------------------------------------*\
內容頁
\*------------------------------------*/
.tit {
  font-size: 2em;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: .3em;
  text-align: center;
  text-shadow: #00fff6 0px 0px 3px, #00fff6 0px 0px 8px, #00fff6 0px 0px 10px; }

/* Gradient transparent - color - transparent */
hr.gradient {
  -webkit-box-shadow: rgba(0, 255, 246, 0.5) 0px 1px 3px;
  box-shadow: rgba(0, 255, 246, 0.5) 0px 1px 3px;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin-top: 10px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 768px) {
    hr.gradient {
      margin-bottom: 80px; } }

p {
  color: #e6e6e6;
  margin-bottom: 20px;
  text-shadow: #000 0px 1px 3px; }

/**
*world內容頁
**/
.text {
  color: #e6e6e6;
  max-width: 750px;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .text {
      text-align: left; } }

#typed {
  text-shadow: #000 0px 1px 3px; }

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/**
*movie內容頁
**/
/*ul*/
.movie-pic {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }
  .movie-pic li {
    margin-top: 20px;
    text-align: center; }
    .movie-pic li:first-child {
      margin-top: 0; }
  .movie-pic .tit-movie {
    background-color: #172562;
    color: #ffffff;
    display: block;
    font-size: .9em;
    height: 35px;
    text-align: left;
    padding: 2px 5px 2px 20px;
    overflow: hidden; }
    .movie-pic .tit-movie:before {
      content: "";
      position: absolute;
      bottom: 12px;
      left: 5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #ffffff;
      z-index: 0; }
  .movie-pic a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border: 1px solid #666666;
    position: relative; }
    .movie-pic a span {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -webkit-transition: all, 0.5s;
      transition: all, 0.5s; }
      .movie-pic a span:before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        vertical-align: middle; }
      .movie-pic a span .playicon {
        width: 0px;
        height: 0px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent transparent #ffffff;
        margin-left: 7px;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        vertical-align: middle; }
    .movie-pic a:hover span {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
  .movie-pic img {
    max-width: 100%;
    height: auto; }
  @media only screen and (min-width: 480px) {
    .movie-pic {
      text-align: left; }
      .movie-pic li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 48.5%;
        margin-right: 1.5%; }
        .movie-pic li:first-child {
          margin-top: 20px; }
        .movie-pic li:nth-child(even) {
          margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .movie-pic li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 32.13333%;
      margin-right: 1%;
      margin-top: 30px; }
      .movie-pic li:first-child {
        margin-top: 30px; }
      .movie-pic li:nth-child(even) {
        margin-right: 1%; }
      .movie-pic li:nth-child(3n) {
        margin-right: 0; } }

/**
*introduce內容頁
**/
.tab {
  max-width: 1024px;
  margin: 0 auto; }

.tabs {
  margin-top: 30px;
  width: 100%;
  text-align: left; }
  .tabs a {
    border: 1px solid #666666;
    color: #666666;
    line-height: 2.5em;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-transition: all, 0.3s, ease-in-out;
    transition: all, 0.3s, ease-in-out; }
    .tabs a.current, .tabs a:hover {
      color: #172562;
      background-color: #ffffff; }
    .tabs a:last-child {
      margin-right: 0; }

/*.js-tabs-item用預設css顯頁第一個tab*/
.js-tabs-item {
  display: none; }
  .js-tabs-item:first-child {
    display: block; }

.tab-content {
  margin-top: 30px; }

.tabs-item h3 {
  border-bottom: 1px solid #666666;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-shadow: #000 0px 1px 3px; }
.tabs-item > img {
  max-width: 100%;
  height: auto;
  margin-top: 10px; }
  .tabs-item > img:first-child {
    margin-top: 0; }
@media only screen and (min-width: 480px) {
  .tabs-item > img.w2 {
    max-width: 49%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .tabs-item > img.w2:last-child {
      margin-right: 0; } }

/**
*character內容頁
**/
.character__text {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .character__text {
      width: 45%;
      float: left; } }

.head-pic {
  margin-bottom: 10px;
  text-align: left; }
  .head-pic a {
    border: 1px solid #666666;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .head-pic a.current {
      border: 1px solid #008aff; }
  @media only screen and (min-width: 480px) {
    .head-pic {
      text-align: center; } }
  @media only screen and (min-width: 768px) {
    .head-pic {
      text-align: left; } }

.role-text h3 {
  font-size: 2em;
  margin-bottom: 1em; }

.character__pic {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .character__pic {
      width: 55%;
      float: right;
      overflow: hidden; } }

.role-pic {
  margin-bottom: 10px; }
  .role-pic img {
    margin: 0 auto;
    max-width: 100%;
    height: auto; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  color: #444;
  text-shadow: none;
  border: 1px solid #172562; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../images/fancybox/fancybox_overlay.png) 0 0 repeat; }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }

  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }
